@model List<PracticaAdoNet.Models.ViewModels.HeroeViewModels>
@{
    ViewBag.Title = "Index";
}

<h2>Heroes:</h2>
@if (TempData["MensajeExito"] != null)
{
    <div class="alert alert-success">
        @TempData["MensajeExito"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (Model != null && Model.Any())
{
    foreach (var heroe in Model)
    {
        <h3>Nombre = @heroe.Nombre</h3>
        <p>Clase = <b>@heroe.Clase</b></p>
        <p>Nivel = <b>@heroe.Nivel</b></p>

        using (Html.BeginForm("DeleteHeroeById", "Heroe", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("id", heroe.Id)
            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que quieres eliminar a @heroe.Nombre?');">Eliminar Heroe</button>
        }

        using (Html.BeginForm("FormularioEdicion","Heroe",FormMethod.Get))
        {
            @Html.AntiForgeryToken();
            @Html.Hidden("id",heroe.Id)
            <button class="btn btn-primary" type="submit">
                Editar
            </button>
        }
        <hr />
    }
}
else
{
    <h3>No hay heroes disponibles</h3>
}